<div class="parent">
    <div class="components">
        <app-test1></app-test1>
    </div>
    <div class="components">
        <app-test2></app-test2>
    </div>
    <div class="components">
        <app-test3></app-test3>
    </div>
</div>

<!--
<mat-tab-group>
    <mat-tab label="Test1">
        <app-test1></app-test1>
    </mat-tab>
    <mat-tab label="Test2">
        <app-test2></app-test2>
    </mat-tab>
    <mat-tab label="Test3">
        <app-test3></app-test3>
    </mat-tab>
</mat-tab-group>
-->