<table>
    <tr>
        <th>
          Observable<br>
          <button mat-raised-button color="primary" (click)="onSubscribeToObservableButtonClicked()">Subscribe</button>
        </th>
        <th>
          Subject<br>
          <button mat-raised-button color="primary" (click)="onSubscribeToSubjectButtonClicked()">Subscribe</button>
        </th>
    </tr>
    <tr>
      <td>
        <div *ngFor="let arrayitem of observableResultArray">
          {{ arrayitem }}<br>
        </div>
      </td>
      <td>
        <div *ngFor="let arrayitem of subjectResultArray">
          {{ arrayitem }}<br>
        </div>
      </td>
    </tr>
</table>
